/* preload images */
body:after {
    content: url("@{image-path}/c9.png") url("@{image-path}/tree-toggle.png") url("@{image-path}/tree-toggle-active.png") url("@{image-path}/tree-toggle-dark.png") url("@{image-path}/tree-toggle-dark-active.png");
    display:none;
}

/* tree-toggle in light theme */
.cs50-simple-tree-toggle {
    background-image: url("@{image-path}/tree-toggle.png");
    background-size: auto 11px;
    background-repeat: no-repeat;
    left: 15px;
    top: 12px;
    z-index: 100;
}
.cs50-simple-tree-toggle:hover {
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
}
.cs50-simple-tree-toggle.active {
    background-image: url("@{image-path}/tree-toggle-active.png");
}

/* tree-toggle in dark theme */
.cs50-simple-tree-toggle.dark {
    background-image: url("@{image-path}/tree-toggle-dark.png");
}
.cs50-simple-tree-toggle.dark:hover {
    filter: brightness(1.5);
    -webkit-filter:brightness(1.5);
}
.cs50-simple-tree-toggle.dark.active {
    background-image: url("@{image-path}/tree-toggle-dark-active.png");
}

/* shift pane menu button to the right */
.cs50-simple-pane0 .tabmenubtn {
    left: 40px !important;
}

.has_apf .session_btn.changed strong:not(:hover) {
  background-position: -9px 0px !important;
}

.c9-logo .icon {
    background-image: url("@{image-path}/c9.png") !important;
}
