.night-toggle {
    background-image: url("@{image-path}/night_small.png");
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px !important;
}

.day-toggle {
    background-image: url("@{image-path}/day_small.png");
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px !important;
}
