Source: render50
Maintainer: CS50 <sysadmins@cs50.harvard.edu>
Section: misc
Priority: optional
Standards-Version: 1.8
Build-Depends:

Package: render50
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command-line PDF rendering tool
 CS50 Render is a command-line tool with which you can render syntax-highlighted, landscape-mode PDFs of source code, ideal for annotations.
